/**
 * Created by KidSirZ4i on  2017/6/28.
 */

.flex { /* 全局flex容器 */
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: -webkit-flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.flex-full { /* 100%宽度的全局flex容器 */
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: -webkit-flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.flex-row { /* flex 方向： 左右排列（默认）*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-col { /* flex 方向： 上下堆叠 */
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row-reverse { /* flex row 行内容反转 */
    flex-direction: row-reverse;
}

.flex-col-reverse { /* flex column 列内容反转 */
    flex-direction: column-reverse;
}

.flex-nowrap { /* flex容器 不换行 */
    flex-wrap: nowrap;
}

.flex-wrap { /* flex容器 换行 */
    flex-wrap: wrap;
}

.flex-wrap-reverse { /* flex容器 并倒序 */
    flex-wrap: wrap-reverse;
}

.both-center { /* 垂直和水平居中，写在父容器身上 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;

  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;

  align-items: center;
  justify-content: center;
}

.both-center-self { /* 垂直和水平居中，写在自己身上 */
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;

  -moz-justify-self: center;
  -webkit-justify-self: center;

  align-self: center;
  justify-self: center;
}

.h-start { /* 水平靠左，写在父容器身上 */
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.h-center { /* 水平居中，写在父容器身上 */
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.h-end { /* 水平靠右，写在父容器身上 */
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.h-between { /* 水平靠两边，写在父容器身上 */
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.h-around { /* 水平靠两边(含间隔)，写在父容器身上 */
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.v-start { /* 垂直置顶，写在父容器身上 */
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.v-center { /* 垂直居中，写在父容器身上 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.v-end { /* 垂直置底，写在父容器身上 */
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.self-start { /* 自己置顶，写在自己身上 */
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.self-center { /* 自己居中，写在自己身上 */
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.self-end { /* 自己置底，写在自己身上 */
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.flex1, .flex2, .flex3, .flex4 {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: -webkit-flex;
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex5 {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex6 {
    -webkit-box-flex: 6;
    -moz-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

.flex7 {
    -webkit-box-flex: 7;
    -moz-box-flex: 7;
    -webkit-flex: 7;
    -ms-flex: 7;
    flex: 7;
}

.flex8 {
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
}

.flex9 {
    -webkit-box-flex: 9;
    -moz-box-flex: 9;
    -webkit-flex: 9;
    -ms-flex: 9;
    flex: 9;
}

.flex10 {
    -webkit-box-flex: 10;
    -moz-box-flex: 10;
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;
}

