/**
 * Created by KidSirZ4i on  2017/8/29.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ' ';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    font-size: 14px;
    font-family: Helvetica, "PingFang SC", "Segoe UI", "Lucida Grande", Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
}


body {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    padding: 20px 6px 0;
}
.title-guide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    background: linear-gradient(#fff, rgba(255, 255, 255, 0.88));
    /*background: linear-gradient(rgb(225, 246, 253), rgba(247, 227, 227, 0.8));*/
    z-index: 100;
}

.title-animation {
    transition: all .4s ease;
}

.title-guide.active {
    transition: all .4s ease;
    opacity: .2;
    transform: translateY(-6px) scale(.8);
}
.title-guide span:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: #1FA2D6;
}
.title-guide span:nth-child(2) {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #ea5890;
}
.title-guide span:nth-child(2) > span {
    position: absolute;
    bottom: 2px;
    right: -40px;
    font-size: 14px;
    color: #999;
}
.section {
    text-align: center;
    padding-bottom: 20px;
}
.section-free {
    color: #1FA2D6;
}
.section-flex {
    color: #d05;
}
.highlight {
    font-size: 12px;
    font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
    color: #d05;
}
.raw > div {
    margin: 6px 10px;
    max-width: 100%;
    overflow: hidden;
}
.raw > div > div {
    margin: 2px;
    padding: 8px;
    background: #fafafa;
    color: #999;
    border: 1px solid rgba(229, 229, 229, 0.5);
    border-radius: 4px;
}

.detail {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.detail div {
    color: #999;
    font-size: 12px;
}

.detail span {
    color: #999;
    font-size: 12px;
    margin-left: 10px;
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    transform: scaleY(.5);
}

pre code {
    font-size: 12px;
    font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
    color: #999;
    border-radius: 3px;
    background: #f8f8f8;
}

.toggle_js img {
    display: block;
}

.box {
    position: relative;
    padding: 10px 0 40px 0;
}

.box::after {
    position: absolute;
    content: " ";
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    transform: scaleY(.5);
}


.tabs {
    position: relative;
    margin: 10px 10px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #d1d1d1;
    height: 30px;
    cursor: pointer;
}
.tab {
    position: relative;
    padding: 0 24px;
    height: 100%;
    line-height: 30px;
    display: inline-block;
}

.active {
    display: inline-block;
/*    background-color: rgba(239, 246, 249, 1);*/
}
.tab1.active {
    border-radius: 15px 0 15px 0;
}
.tab2.active {
    border-radius:  0 15px 0 15px;
}

.tab.active::after  {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #1FA2D6;
    z-index: 10;
    transform: scaleY(1.2);
}

.hide {
    display: none;
}

.tips {
    position: relative;
    margin: 4px 10px;
    padding: 8px 8px;
    background: #eff6f9;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    font-style: italic;
}

code, .tips code {
    font-size: 12px;
    font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
    color: #d05;
    border-radius: 3px;
    background: #fafafa;
    padding: 0 3px 0 2px;
}

.by-the-way code {
    font-size: 12px;
    font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
    color: #999;
    border-radius: 3px;
    background: #fafafa;
    padding: 0 3px 0 2px;
}

.show-code, .preview {
    padding: 0 10px;
}

.preview .flex, .preview > div {
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
    /*background: #fbf6f9;*/
}

.preview .flex > div, .preview > div > div {
    margin: 2px;
    padding: 8px;
    background: rgba(255, 229, 239,.5);
    color: #999;
    border: 1px solid rgb(243, 212, 224);
    border-radius: 4px;
}

.show-code > pre {
    height: auto;
    background-color: #f8f8f8;
    border-radius: 4px;
    tab-size: 4;
    border: 1px solid rgba(229, 229, 229, 0.2);
}

.box .by-the-way {
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
    color: #999;
    margin : 10px 0 0;
    padding: 0 10px;
}

.before, .after {
    padding-left: 10px;
    font-size: 12px;
    color: #999;
}

.copyright {
    font-size: 12px;
    font-style: italic;
    color: #999;
    text-align: center;
    padding-bottom: 20px;
}
.copyright a {
    display: inline-block;
    font-size: 12px;
    color: #999;
    text-align: center;
    font-style: italic;
    text-decoration: none;
}

.github {
    margin-bottom: 6px;
}

.github a {
    width: 26px;
    height: 16px;
    padding-left: 10px;
    vertical-align: bottom;
}

.github img {
    display: block;
}

@media screen and ( max-width: 320px ) {
    body {
        padding: 20px 6px 0;
    }
    pre code {
        font-size: 10px;
    }
    .highlight {
        font-size: 10px;
    }
}



/*解决Firefox点击连接产生的虚线框问题*/
button {
    outline: none;
}
button:focus {
    outline: none;
}
a {
    outline: none;
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
}

/* 禁止长按链接与图片弹出菜单 */
a, img, input {
    -webkit-touch-callout: none;
}
input:focus, a:focus, button:focus {
    outline: none;
}
img {
    pointer-events: none;
}

/* 禁止选中文本（如无文本选中需求，此为必选项） */
/*
html, body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
