/**
 * Created by KidSirZ4i on  2017/8/29.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ' ';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Helvetica, "PingFang SC", "Segoe UI", "Lucida Grande", Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
}

/*解决Firefox点击连接产生的虚线框问题*/
button {
    outline: none;
}
button:focus {
    outline: none;
}
a {
    outline: none;
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
}

/* 禁止长按链接与图片弹出菜单 */
a, img, input {
    -webkit-touch-callout: none;
}
input:focus, a:focus, button:focus {
    outline: none;
}
img {
    pointer-events: none;
}

/* 禁止选中文本（如无文本选中需求，此为必选项） */
html, body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}